.container {
    max-width: 70%; 
    margin: auto;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    color: var(--purple);
    font-family: Nunito;
    font-size: 3em;
    font-weight: 900;
    text-shadow: 2px 2px 5px #b3b5e2;
}

.description {
    font-weight: bold;
    color: #676BC4;
    font-family: Nunito;
    max-width: 13rem;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.girl-image {
    /* max-width: 30vw; */
    width: 30vw;
}

.arrow-link {
    background-color: #676BC4;
    width: 4em;
    height: 4em;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-link:hover {
    box-shadow: #b3b5e2 0px 8px 24px;
}

/*Inicio das media queryes*/


@media screen and (max-width: 720px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 2rem;
    }

    .girl-image {
        width: 80vw;
    }

    article {
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .title {
        text-align: center;
    }
    .description {
        text-align: center;
    }
    
}

