.title-singup {
  font-weight: 800;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--purple);
  text-shadow: 2px 2px 5px #b3b5e2;
}
.option:first-child {
  margin-right: 2rem;
}

.input-radio {
  margin-right: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.form-singup {
  display: flex;
  flex-direction: column;
  width: 100%;
}
