.menu-container {
    padding-top: 6rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    
    /* background-color: cornflowerblue; */
}

.menu {
    position: fixed;
    background-color: var(--purple);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

.menu-item {
    cursor: pointer;
    font-size: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    font-weight: bold;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 20px;
}

.menu-item:hover {
    opacity: 0.8;
    background-color: rgb(70, 43, 244);
}

@media screen and (max-width: 720px) {

}