.form-edit-profile {
  display: flex;
  flex-direction: column;
}

.label-edit-profile {
  background-color: var(--purple);
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 15px;
  max-width: 8rem;
  text-align: center;
}

.image-profile {
  max-width: 15rem;
  border: 2px dashed var(--purple);
  border-radius: 10px;
}

.image-cover {
  border: 2px dashed var(--purple);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.input-form-edit {
  font-family: "Nunito";
  font-weight: bold;
  color: var(--purple);
  padding: 0.5rem;
  border-radius: 10px;
  max-width: 30rem;
  height: 3rem;
  border: 1px solid var(--border-input);
  margin-bottom: 1rem;
}

.input-form-edit-textarea {
  font-family: "Nunito";
  font-weight: bold;
  color: var(--purple);
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid var(--border-input);
}
