.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    max-width: 35em;
    width: 100%; 
    padding: 5%;
    box-shadow: #b3b5e2 0px 8px 20px;
    background-color: var(--white);
    /* justify-content: space-between; */
    /* max-height: 70vh; */
}