.nav-bar {
    background-color: var(--purple);
    padding: 1rem;
    position: fixed;
    height: 80px;
    width: 100%;
    
}

.nav-bar-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-nav-bar {
    max-width: 50px;
}

.title-nav-bar {
    margin-left: 1rem;
    color: white;
    font-weight: bold;
}

.button-logout {
    border: none;
    font-weight: bold;
    background-color: var(--purple);
    max-width: 5rem;
    padding: .5rem;
    border-radius: 10px;
    border:  2px solid #fff;
    color: #fff;
    text-align: center;
}

.button-logout:hover {
    border-color: white;
    background-color: var(--border-input);
    color: #fff;
}