/* .cadastro-container {
    display: flex;
    flex-direction: column;
} */

.title-singup {
    font-weight: 800;
    font-size: 3rem;
    color: var(--purple);
    text-shadow: 2px 2px 5px #b3b5e2;
}

.form-singup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* .type-form-container {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
} 

.type-form-item {
    display: flex;
    align-items: center;
    font-family: 'Nunito';
    font-weight: bold;
    color: var(--purple);
} */

/* input[type=checkbox] {
    height: 2rem;
    width: 2rem;
    border-style: solid;
    border-radius: 10px;
    margin-right: 1rem;
} */